.background_img
{
    background-image:url("Assest/Images/main_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.logo
{
    background-color: rgba(0, 0, 0, 0.363);
    background-size: cover;
}
.languages ul
{
    background-color: rgba(128, 128, 128, 0.384);
    list-style: square;
}
.section_2_lhs
{
    background-color: rgba(255, 255, 0, 0.5);
}
.section_2_rhs
{
    background-color:rgba(211, 211, 211, 0.459);
}
.third_section h2
{
    color: rgb(223, 59, 59);
}
.third_section h3,h4
{
    color: rgb(75, 75, 75);
}
.section_3_rhs
{
    background-color: rgb(56, 190, 243);
}
.logo_img
{
    height: 100px;
    width:100px;
}
.section_4_lhs
{
    background-color: whitesmoke;
}
.bottom_line
{
    background-color: orangered;
    padding: 1%;

}